/* This used to be the best practice 
* {
    box-sizing: border-box;
} */

/* This is a somewhat newer (since 2014) practice */

html {
    box-sizing: border-box;
    /* 16px is the default for most browsers */
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* System Fonts as used by GitHub */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1rem;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

ul li {
    line-height: 1.5;
}

img {
    height: auto;
    width: 100%;
}

/* Grid Styles */

/* Class to highlight grid boxes */
.item {
    border: dashed 1px gray;
    padding: 0.5rem;
}
/* end item */

.wrapper {
    display: grid;
    height: 100%;
    margin: 0 auto;
    min-height: 81vh;
    max-width: 90rem;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
}

.sidebar {
    grid-row: 1 / span 2;
    grid-column: 1 / 1;
}

.main-content {
    grid-row: 1 / 2;
    grid-column: 2 / span 2;
}

.subcontent-1 {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
}

.subcontent-2 {
    grid-row: 2 / 2;
    grid-column: 3 / 3;
}

/* End Grid */

.site-footer {
    background-color: darkgray;
    color: white;
    margin: 2rem 0 0;
    padding: 1rem;
}