/* This used to be the best practice 
* {
    box-sizing: border-box;
} */

/* This is a somewhat newer (since 2014) practice */

html {
  box-sizing: border-box;
  /* 16px is the default for most browsers */
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* System Fonts as used by GitHub */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

ul li {
  line-height: 1.5;
}

section {
  border-bottom: solid 1px #000;
  margin: 2rem auto;
  padding: 0 0 2rem;
}

img {
  height: auto;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 90rem;
}

/* This is using BEM Syntax */
.wrapper--image {
  margin: auto;
  max-width: 20rem;
}

.code {
  background-color: lightgray;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.85rem;
  margin: 4px 0;
  padding: 2px;
}

footer {
  background-color: darkgray;
  color: white;
  margin: 2rem 0 0;
  padding: 1rem;
}
